#chat_box {
    width: 70%; 
    margin-left: 100px;
    border: 1px solid black; 
}

#chat_flow {
    height: 400px;
}

.msg_box {

}

#chat_input {
    padding: 5px;
}

#chat_input #input_msg {
    width: 89%;
}

#chat_input #send_btn {
    width: 8%;
    margin-left: auto; 
    margin-right: 5px; 
    float: right;
}